<!DOCTYPE HTML>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}{% endblock %}
		<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
	</head>


	<body>

		<!-- A horizontal navbar that becomes vertical on small screens -->
		<nav
			class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
			<!-- Links -->
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
				<ul class="navbar-nav mr-auto mt-2 mt-lg-0">

					<li class="nav-item active">
						<a class="nav-link" href="#">Accueil</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Traversee</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Reservations</a>
					</li>
				</ul>
				<div class="form-inline">
					<p align="right">DATE DU JOUR :
						{{"now"|date('d/m/Y')}}</p>
				</div>
			</div>
		</nav>


		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
		<!--/.Navbar-->

		{% block body %}{% endblock %}
		{% block javascripts %}
			<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
			<script src="{{ asset('js/main.js') }}"></script>
		{% endblock %}
	</body>
</html>
